HeartBEAT/*.iml
HeartBEAT/.gradle
HeartBEAT/local.properties
HeartBEAT/.idea/workspace.xml
HeartBEAT/.idea/libraries
HeartBEAT/.DS_Store
HeartBEAT/build
HeartBEAT/captures
HeartBEAT/.externalNativeBuild
